/HelloNameDialog.class
/HelloWorld.class
/ShowTwoNumbers.class
/firstdialog.class
/chossingoption.class
/choosingname.class
/inputfromkeyboard.class
/calculator.class
/EquationSolver.class
/Triangle.class
/MonthDays.class
/ArraysortAndStats.class
/MatrixAddition.class
